<div class="container-fluid scrollable">
    <div class="row text-center">

        <div class="col-md-1">

            <div class="btn-group">
                <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="btn-group">

                <div class="btn btn-success" mwlCalendarToday [(viewDate)]="viewDate">
                    Today
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h1><b>{{nameMonth()}}  {{viewDate.getFullYear()}}</b></h1>
        </div>

        <div class="col-md-3">
            <div class="btn-group">
                <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                    Month
                </div>
                <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                    Week
                </div>
                <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                    Day
                </div>

            </div>



        </div>

        <div class="col-md-1">

            <div class="btn-group">
                <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
                </div>
            </div>

        </div>

        <br><br><br>

        <div [ngSwitch]="view">


            <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events">
            </mwl-calendar-month-view>

            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events">
            </mwl-calendar-week-view>

            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events">
            </mwl-calendar-day-view>

        </div>
    </div>
</div>