<div class="container-fluid">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="https://img.icons8.com/avantgarde/452/experimental-calendar-avantgarde.png" class="img-fluid float-start" width="65px">
            <span class="fs-4">Calendar app</span>
        </a>

        <ul class="nav nav-pills">
            <li><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li><a href="#" class="nav-link">Login</a></li>
            <li><a href="#" class="btn btn-danger">Logout</a></li>
        </ul>
    </header>
</div>