<button> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg> Add event</button>

<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <label>Name of the event: </label><br>
    <input type="text" id="name" name="name" ngModel required><br>

    <label>Start from: </label><br>
    <input type="datetime-local" id="from" name="from" ngModel required><br>

    <label>End in: </label><br>
    <input type="datetime-local" id="to" name="to" ngModel required><br>

    <input type="checkbox" id="recurence" name="reccurence" value="true" ngModel>
    <label> Recurence </label><br>

    <label>Description: </label><br>
    <textarea id="description" name="description" rows="5" cols="50" ngModel required></textarea><br>

    <button>Submit</button>

</form>