<div class="container-fluid">
    <form (ngSubmit)="authUser(login) " #login="ngForm" class="shadow-lg p-3 bg-light rounded
    position-absolute top-50 start-50 translate-middle
    border border-2 p-2 border-opacity-10">
        <h1 class="mb-3 fw-normal">Please Login</h1>

        <div class="form-floating">

            <input type="text" class="form-control" id="username" placeholder="Username" autocomplete="off" name="username" ngModel required>
            <label class="form-label" for="username">Username</label>

        </div>

        <br>
        <div class="form-floating">
            <input type="password" class="form-control" placeholder="Password" autocomplete="off" id="password" name="password" ngModel required>
            <label for="password">Password</label>
        </div>

        <div class="form-check mb-3">

            <br>
            <input type="checkbox" class="form-check-input" value="true" id="remember" name="remember" ngModel>
            <label class="form-check-label" for="remember"> Remember me </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary">Login</button>
        <h2 class="text-center">OR</h2>

        <button class="w-100 btn btn-lg btn-primary" routerLink="/signup">Sign-up</button>
    </form>

</div>
